/*font import*/
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Setting variables*/
:root {
    --white: #fffcee;
    --main-green: #355e3e;
    --secondary-green: #82a78a;
    --black: #000e01;

    --title-font: 'Bree Serif',serif;
    --paragraph-font: 'Montserrat',sans-serif;
}

/*Reseting css*/
* {
    margin: 0;
    padding: 0;
    border: 0px;
    text-decoration: none;
    color: var(--black);
}

body {
    background-color: var(--white);
    font-family: var(--paragraph-font);
}

nav {
    background-color: var(--main-green);
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    position: sticky;
    text-align: center;
    height: 4rem;
}

.nav__link {
    color: var(--white);
    font-family: var(--title-font);
    font-size: 1.2rem;
    padding: 1rem;
    background-color: var(--main-green);
    text-align: center;
}

.nav__link:hover {
    text-decoration: underline;
    background-color: var(--secondary-green);
    color: var(--black);
}

main{
    display: flex;
    flex-direction: column;
    margin: 5% 25% 5% 25%;
}

.apresentacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
}

.apresentacao__foto {
    width: 30rem;
    height: 30rem;
}

.apresentacao__texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.apresentacao__titulo {
    font-family: var(--title-font);
    font-size: 3rem;
}

span {
    color: var(--main-green);
}

.apresentacao__subtitulo {
    color: var(--secondary-green);
    font-style: italic;
    font-size: 2rem;
}
/*responsiveness settings*/