/*font import*/
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Setting variables*/
:root {
    --white: #fffcee;
    --main-green: #355e3e;
    --secondary-green: #82a78a;
    --black: #000e01;

    --title-font: 'Bree Serif',serif;
    --paragraph-font: 'Montserrat',sans-serif;
}

/*Reseting css*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: var(--white);
    font-family: var(--paragraph-font);
}

nav {
    background-color: var(--main-green);
    display: flex;
    justify-content: center;
    gap: 4%;
    align-items: center;
    text-align: center;
}

.nav__link {
    color: var(--white);
    font-family: var(--title-font);
    font-size: 1.2vmax;
    padding: 2%;
    background-color: var(--main-green);
    text-align: center;
}

.nav__link:hover {
    background-color: var(--secondary-green);
    color: var(--black);
}

main{
    display: flex;
    flex-direction: column;
    margin: 5% 25% 5% 25%;
}

.presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
}

.presentation__img {
    width: 50%;
    height: 50%;
}

.presentation__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.presentation__title {
    font-family: var(--title-font);
    font-size: 3vmax;
}

span {
    color: var(--main-green);
}

.presentation__subtitle {
    color: var(--secondary-green);
    font-style: italic;
    font-size: 2vmax;
}

.section__title {
    font-family: var(--title-font);
    font-size: 2.5vmax;
    margin: 3% 0 0.5% 0;
    color: var(--black);
}

footer {
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-green);
    height: 4rem;
}
/*responsiveness settings*/
@media (max-width: 820px) {
    main {
        margin: 5% 5% 5% 5%;
        align-items: center;
    }

    .nav__link {
        font-size: 2vmax;
    }

    .presentation {
        flex-direction: column;
        align-items: center;
    }

    .presentation__img {
        width: 80%;
        height: auto;
    }

    .presentation__title {
        font-size: 6vmax;
        text-align: center;
    }

    .presentation__subtitle {
        font-size: 4vmax;
        text-align: center;
    }

    .section__title {
        font-size: 5vmax;
        text-align: center;
    }
}