/*font import*/
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Setting variables*/
:root {
    --white: #ffffff;
    --bege: #fffcee;
    --main-green: #355e3e;
    --secondary-green: #82a78a;
    --black: #000e01;

    --title-font: 'Bree Serif',serif;
    --paragraph-font: 'Montserrat',sans-serif;
}

/*Reseting css*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: var(--bege);
    font-family: var(--paragraph-font);
    color: var(--black)
}

header {
    position: sticky;
    top: 0;
}

nav {
    background-color: var(--main-green);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav__links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.nav__link {
    color: var(--bege);
    font-family: var(--title-font);
    font-size: 1.2rem;
    padding: 1rem;
    background-color: var(--main-green);
    text-align: center;
    border-radius: 1rem;
}

.nav__link:hover {
    background-color: var(--secondary-green);
    color: var(--black);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin: 5% 20%;
}

.presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.presentation__img {
    box-sizing: border-box;
    width: 50%;
}

#profile__pic {
    width: 100%;
    border-radius: 1rem;
    box-shadow: #000e0133 0px 4px 8px -2px;
}

.presentation__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.presentation__title {
    font-family: var(--title-font);
    font-size: 3rem;
}

span {
    color: var(--main-green);
}

.presentation__subtitle {
    color: var(--secondary-green);
    font-style: italic;
    font-size: 2rem;
}

.section__title {
    font-family: var(--title-font);
    font-size: 2.5rem;
    margin-top: 1rem;
    color: var(--black);
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1rem;
    margin-top:2rem;
    box-shadow: #000e0133 0px 4px 8px -2px;
    font-size: 1.2rem;
}

.experience__title {
    font-family: var(--title-font);
    font-size: 2rem;
    color: var(--main-green);
}

.experience__subtitle {
    font-size: 1.8rem;
    font-weight: light;
    font-style: italic;
    color: var(--secondary-green);
}

.experience__date {
    font-size: 1.5rem;
    font-weight: light;
}

.habilities {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
}

.habilities__list {
    min-width: 25%;
    align-items: flex-start;
    justify-content: flex-start;
}

li.experience {
    justify-content: center;
    align-items: center;
    text-align: center;
}

li.experience:hover {
    padding: 2.25rem;
    transition: all 0.2s ease-in-out;
}

footer {
    color: var(--bege) !important;
    display: flex;
    position: relative;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--main-green);
    height: 4rem;
}

/*responsiveness settings*/
@media (max-width: 1024px) {
    main {
        display: flex;
        margin: 5%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    header {
        position: static;
        top: 0;
    }

    nav {
        position: inherit;
        flex-direction: column;
    }

    ul.nav__links {
        flex-direction: column;
        gap: 0.5rem;
    }

    .presentation {
        flex-direction: column;
        align-items: center;
    }

    .presentation__img {
        width: 100%;
    }

    .presentation__text {
        justify-content: space-between;
        width: 100%;
        gap: 1rem;
    }

    .presentation__title {
        font-size: 3rem;
        text-align: center;
    }

    .presentation__subtitle {
        font-size: 2rem;
        text-align: center;
    }

    .section__title {
        font-size: 2.5rem;
        text-align: center;
    }

    .habilities {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .habilities__list {
        width: 100%;
    }
}