/*font import*/


/*Setting variables*/
:root {
    --white: #f6f6f6;
    --main-green: ;
    --secondary-green: ;
    --black: #000e01;

    --title-font: ;
    --paragraph-font: ;
}

/*Reseting css*/
* {
    margin: 0;
    padding: 0;
    border: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--branco);
}

/*responsiveness settings*/